<div class="container-fluid d-flex align-items-center justify-content-center  vh-100">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">User profile</h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= current_customer.last_name %>, <%= current_customer.first_name %>  </h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="/logout" class="card-link">Logout</a>

      <a href="/password/change" class="card-link">Chagne your password</a>
    </div>
  </div>

</div>