<div class="container">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <%= image_tag "site-identity/acs-logo.png", style: "height:50px; width:100px" %>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Start</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Wir im Portrait</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Für Autohäuser</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Support</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Kontakt</a>
            </li>

          </ul>

          <% if current_customer.present? %>
            <form class="">
              <a class="btn btn-outline-primary mr-2" href="/logout">Log out</a>
            </form>
          <% else %>
            <form class="">
              <a class="btn btn-outline-primary mr-2" href="/login">Login</a>
              <a class="btn btn-outline-success" href="/signup">Kunde werden</a>
            </form>

          <% end %>


        </div>
      </div>
    </nav>
  </div>
</div>